/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*----------
 common styles 
------------*/

.body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* ----------
nav section styles
------------ */
.header {
  background-color: #562eff;
  margin-bottom: 36px;
}
.nav-container {
  width: 870px;
  margin: 0 auto;
  padding-top: 33px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-icon img {
  height: 51px;
  width: 40px;
  padding-right: 15px;
}
.nav-icon h1 {
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
}
.nav-links ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.nav-links ul li {
  padding-left: 36px;
}
.nav-links li a {
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
}
.nav-links li a > img {
  height: 51px;
  width: 51px;
}
/*--------------
top players styles
---------------*/
.top-players-container {
  background-color: #ffffff;
  width: 870px;
  padding: 30px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.section-title {
  color: #562eff;
  font-size: 24;
  margin-top: 3px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  height: 56px;
  width: 56px;
}
.player p {
  font-size: 18px;
  padding-left: 16px;
  color: #1e1e1e;
}
/* ---------------
horizontal line style 
-----------------*/
hr {
  border: 1px solid #d1d1d1;
  margin-top: 19px;
  margin-bottom: 18px;
}
/* --------
 top blogs style
 ----------- */
.top-blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
  margin-bottom: 42px;
}
.blogs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.blog-banner img {
  width: 177px;
  height: 117px;
}
.blog-information {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
.blog-link h2 {
  font-size: 20px;
  color: #1e1e1e;
}
.author-name {
  font-size: 16px;
  text-decoration: none;
  color: #562eff;
}

/*-----------------
lates course style
-------------------
 */
.course-section {
  margin-top: 21px;
  padding: 30px;
  background-color: #ffffff;
}
.lates-course-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 870px;
}
.course-information {
  padding: 11px;
  box-shadow: 3px 3px 10px rgb(217, 217, 217);
  border-radius: 10px;
}
.course-banner img {
  width: 224px;
  height: 104px;
}
.article h3 {
  font-size: 20px;
  color: #1e1e1e;
}
.article .course-author {
  font-size: 14px;
  color: #ed6b4f;
  text-decoration: none;
}
.reviews {
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.reviews > p {
  color: #a2a2a2;
  margin-left: 10px;
}
.fa-star {
  color: #ffc014;
}
.fa-emty {
  color: #888783;
}
.date {
  display: flex;

  align-items: center;
  justify-content: space-around;
  background: #ffe4e8;
  border-radius: 14.6913px;
  margin-left: 10px;
  border: 1px solid black;
}
.fa-clock {
  padding-left: 4px;
}
.date p {
  font-size: 14px;
  padding-left: 5px;
  margin: 4px;
  font-weight: 600;
}
/*-------------
 mobile devices
--------------- */
@media only screen and (max-width: 688px) {
  * {
    margin: 0;
    box-sizing: border-box;
  }
  .nav-container {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5px;
  }
  .main-container {
    flex-wrap: wrap;
  }
  .top-players-container,
  .lates-course-container {
    padding: 5px;
    width: 100%;
  }
  .section-title {
    text-align: center;
  }
  .players,
  .top-blogs,
  .lates-course-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .blogs {
    flex-direction: column;
    text-align: center;
  }
}
/* ----------
table devices
------------ */
@media only screen and (min-width: 689px) and (max-width: 992px) {
  * {
    margin: 0;
  }
  .body{
    overflow-x: hidden;
  }
  .nav-container {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5px;
  }
  .section-title {
    text-align: center;
    margin-bottom: 20px;
  }
  .players {
    grid-template-columns: repeat(2, 1fr);
  }
  .player {
    flex-direction: column-reverse;
  }
  .blogs {
    flex-direction: column;
  }
  .lates-course-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
